body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 120%;
	color: #000;
	background-color: #FFF;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

img {
	max-width: 100%;
}

a:link {
	color: #06C;
	text-decoration: underline;
}
a:visited {
	color: #999;
	text-decoration: underline;
}
a:hover {
	color: #F30;
	text-decoration: none;
}

/* Layout */
.j-l-wrapper {
	width: 84%;
	text-align: left;
	margin: 0 auto;
	padding: 0;
}

header {
	width: 100%;
	clear: both;
	background-color: #9FF;
}

.j-w-social-networks-nav-big {
	float: left;
	width: 20%;
	margin-rught: 5%;
}

.j-p-inheader_top-nav {
	width: 75%;
	margin-left: 25%;
}

.j-l-header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 80%;
}

.j-l-header .j-p-inheader_top-nav ul li {
	float:left;
	width: 20%;
	margin-right:5%;
}

header .j-header-user {
	clear: both;
	padding: 1em 0;
	width: 100%;
}

header .j-header-user-pic {
	width: 50px;
	height:auto;
	display: none;
}

header .j-user-hgroup h1 {
	font-size: 80%;
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
}

header .j-user-hgroup h2 {
	font-size: 170%;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.j-l-content-inner {
	clear: both;
}

.j-l-alpha {
	float: left;
	width: 70%;
}

.j-l-beta {
	float: right;
}

 @media screen and (max-width: 768px) {
.j-l-alpha {
	float: none;
	width: 100%;
}

.j-l-beta {
	float: none;
}
 }