@charset "UTF-8";
/* CSS Document */
body {
	font-family: Times, "Times New Roman", serif;
	font-size: 120%;
	color: #000;
	background-color: #FFF;
	line-height: 180%;
	text-align: center;
}
#pagewrapper {
	width: 90%;
	text-align: left;
	margin: 0 auto;
	padding: 1.3em 0;
}
p {
	margin: 0 0 1.6em;
	padding: 0;
}
