@charset "UTF-8";
/* CSS Document */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: black;
	font-weight: normal;
	text-align: center;
	line-height: 120%;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 120%;
	text-transform: uppercase;
}

a {
	color: #4AADEE;
	text-decoration: underline;
}

a:visited {
	color: #666666;
	text-decoration: underline;
}

a:hover {
	color: #FF523D;
	text-decoration: none;
}



/* body * ul, body * ol, .widget li, .widget .post-body li {
	margin: auto;
	padding: 0;
} */

.maipage {
	width: 100%;
	min-width: 200px;
	margin: 0;
	padding: 0;
	text-align: left;
}

.page-wrap {
	width: 70%;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}
.body-fauxcolumns, .content-fauxcolumns {
	position: inherit;
	left: auto;
	top: auto;
	overflow: auto;	
}

header, header *, .main, .main-outer, .column-center-inner, .column-center-outer, .region-inner, .main-inner, .fauxborder-left, .main-fauxborder-left, h1.title, .content-inner, .descriptionwrapper, .titlewrapper, .header-inner .Header .titlewrapper, .header-inner .Header .descriptionwrapper {
	margin: 0;
	padding: 0;
}

header {
	height: auto;
}

header * h1.title {
	margin: 0;
	padding: 1em 0;
	font-weight: bold;
	font-size: 350%;
	height: auto;
	line-height: 120%;
}

.columns-inner .column-center-outer .column-center-inner {
	margin: 0;
	padding: 0;
}

.content, .content-outer, .content-inner {
	margin: 0;
	padding: 0;
}
.fauxcolumn-outer, .body-fauxcolumn-outer, .fauxcolumn-outer .fauxborder-left, .fauxcolumn-outer .fauxborder-right, .fauxcolumn-inner, .body-fauxcolumns .fauxcolumn-outer {
	max-width: 80%;
	margin: 0;
	padding: 0;
	height: auto;
	position: relative;
	top: auto;
	left: auto;
}
.body-fauxcolumns .fauxcolumn-outer {
	width: 80%;
	margin: 0;
	padding: 0;
	max-width: 80%;
}

nav {
	position: relative;
	z-index: 9999;
	width: 100%;
	background-color: #f0f0f0;
}

nav ul, nav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

nav ul {
	width: 70%;
	padding: 1em 0;
	margin: 0 auto;
}

nav ul li {
	float: left;
	width: 20%;
	margin-right: 5%;
	font-size: 80%;
}

footer {
	margin: 1em 0 3em;
	padding: 0;
}

.region-inner.footer-inner, .region-inner, .footer-inner {
	padding: 0;
	margin: 0;
}

#footer-1 {
	margin: 0;
	padding: 0;
}

#footer-3 {
	margin: 1em 0;
	padding:0;
}

#footer-3 .widget-content {
	font-size: 80%;
	display: none;
}

#Attribution1:before {
	content: "© Some Life Here & Now.";
	display: block;
	height: 2em;
	font-size: 80%;
}

.blog-feeds {
	display: none;
}

#BlogArchive1 {
	font-size: 80%;
}

.navbar {
	display: none;
}

.widget {
	line-height: 120%;
	margin: 0;
	padding: 0;
}

.header-inner .Header .descriptionwrapper {
	display: none;
}

.section {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

/* Posts */
.date-header {
	font-size: 80%;
}

.post-footer {
	font-size: 80%;
	line-height: 120%;
}

.post-title {
	padding: 0.6em 0 0.3em;
	font-size: 170%;
}

iframe *, .drive-viewer-embed .drive-viewer-shadow, .drive-viewer-embed, .drive-viewer-shadow {
	background-color: transparent;
}

#blog-pager {
	margin-top: 2em;
	padding: 1em 0 0;
}

.blog-pager {
	font-size: 80%;
	margin: 0;
	padding: 0;
	border-top: 1px solid #f0f0f0;
}


@media screen and (max-width: 768px) {
.page-wrap {
	width: 90%;
	/*background-color: #f03;*/
}

body * {
	/* border: 1px solid #000; */
	/*margin: 0;
	padding: 0;*/
	/*max-width: 100%;*/
}

.mainpage {
	/*background-color: #f40;*/
}

.post-share-buttons, .goog-inline-block {
	max-width: 90%;
	margin: 0;
	padding: 0;
}

nav ul {
	width: 90%;
}

header * h1.title {
	margin: 0;
	padding: 1em 0;
	font-weight: bold;
	font-size: 200%;
	height: auto;
	line-height: 120%;
}

  }
