@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.b {
    display: block;
    font-family: "LiberEmb";
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1em;
    widows: 2
    }
.b_n {
    display: block;
    font-family: "LiberEmb";
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    widows: 2
    }
.body_head {
    -webkit-hyphens: none;
    display: block;
    font-family: "LiberEmb";
    font-size: 1.66667em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: always;
    page-break-before: auto;
    text-align: center
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre1 {
    display: block;
    page-break-after: always;
    text-align: center
    }
.calibre2 {
    height: 100%;
    max-width: 100%;
    width: auto
    }
.calibre3 {
    display: block;
    font-family: "LiberEmb";
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.calibre5 {
    display: block;
    font-family: "LiberEmb";
    text-align: left
    }
.calibre6 {
    display: block
    }
.calibre7 {
    display: block;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0.2em;
    margin-top: 1em
    }
.calibre8 {
    -webkit-hyphens: none;
    display: block;
    font-family: "LiberEmb";
    font-size: 1.66667em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center
    }
.calibre9 {
    font-weight: bold
    }
.calibre10 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    font-style: italic
    }
.calibre12 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre13 {
    display: block;
    font-family: "LiberEmb";
    page-break-after: always;
    text-align: justify
    }
.epigraph {
    display: block;
    margin-bottom: 1em;
    margin-left: 35%;
    margin-right: 0.2em;
    margin-top: 1em;
    text-indent: 0;
    width: 60%
    }
.hsection {
    display: block;
    font-family: "LiberEmb";
    text-align: justify
    }
.master {
    -webkit-hyphens: none;
    display: block;
    font-family: "LiberEmb";
    font-size: 1.66667em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: auto;
    text-align: center
    }
.section {
    display: block;
    font-family: "LiberEmb";
    page-break-before: always;
    text-align: justify
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "LiberEmb";
    font-style: normal;
    font-weight: normal;
    src: url(fonts/PTSans-Regular.ttf)
    }
@font-face {
    font-family: "LiberEmb";
    font-style: normal;
    font-weight: bold;
    src: url(fonts/PTSans-Bold.ttf)
    }
@font-face {
    font-family: "LiberEmb";
    font-style: italic;
    font-weight: normal;
    src: url(fonts/PTSans-Italic.ttf)
    }
@font-face {
    font-family: "LiberEmb";
    font-style: italic;
    font-weight: bold;
    src: url(fonts/PTSans-BoldItalic.ttf)
    }

