@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 145%;
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 170%;
	margin-top: 3em;
	line-height: 135%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
	color: #666;
	margin-top: 2em;
}

h4 {
	font-size: 115%;
	color: #000;
	font-weight: bold;
	margin-top: 1.5em;
}

hr {
	height: 0px;
	width: 30%;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1.5em auto 1em 0;
	text-align: left;
}

#pagewrapper {
	text-align: left;
	margin: 2em auto;
	padding: 0;
	width: 60%;
}

img {
	max-width: 100%;
	height: auto;
}

.margintop05em {
	margin-top: 0.5em;
}

img.border {
	border: 1px solid #ccc;
}

img.smaller {
	max-width: 60%;
	height: auto;
}

li {
	margin: auto auto 0.5em;
	padding: auto;
}

abbr {
	border-bottom: 1px dotted #000;
	cursor: help;
}

.img50p {
	max-width: 49%;
	height: auto;
}

.img30p {
	max-width: 30%;
	height: auto;
}

.blockquote {
	margin-left: 1em;
	padding-left: 1.5em;
	border-left: 1px solid #ccc;
}

.centered {
	text-align: center;
}

.oled {
	margin-left: 2.5em;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.columns {
	clear: both;
}

.twocols {
	float: left;
	width: 48%;
	margin-right: 2%;
	padding: 0;
}

.threecols {
	float: left;
	width: 30%;
	margin-right: 3%;
	padding: 0;
}

.threecols h3 {
	font-size: 100%;
}

ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -20px;
}
ul.dashed > li:before {
  content: "— ";
  text-indent: -5px;
}

.borderccc {
	border: 1px solid #ccc;
}

.colorbox {
	display: block;
	width: 100%;
	height: 10em;
}

.colorbox50p {
	display: inline-block;
	width: 50%;
	height: 10em;
}

.colorbox30p {
	display: inline-block;
	width: 30%;
	height: 10em;
}

.colorbox40p {
	display: inline-block;
	width: 40%;
	height: 10em;
}

.colorbox60p {
	display: inline-block;
	width: 60%;
	height: 10em;
}

.colorbox70p {
	display: inline-block;
	width: 70%;
	height: 10em;
}

.radius05em {
	border-radius: 0.5em
}

.radius05emleft {
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em
}

.radius05emright {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em
}

.page {
	page-break-after: always;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding: 3em 0 5em;
}

#pagetopper {
	margin: 0 auto !important;
}

#guidetitle {
	font-size: 300%;
	font-weight: normal;
	line-height: 100%;
}

.sansserifs80 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 80%;
}

.sansserifs70 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 70%;
}

.sansserifs60 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60%;
	letter-spacing: -0.03em;
}

.tips {
	display: block;
	padding: 0.8em 1.1em;
	background-color: #EDFDFF;
	width: auto;
}

.warning {
	display: block;
	padding: 0.8em 1.1em;
	background-color: #FFEDED;
	width: auto;
}

.where {
	display: block;
	padding: 0.8em 1.1em;
	background-color: #FFFEDB;
	width: 30%;
}

.where h3, .where p, .tips h3, .tips p, .warning h3, .warning p {
	margin: 0;
	padding: 0;
}

.imagepaddings {
	text-align: center;
}

.imagepaddings img {
	width: 30%;
	height: auto;
}

.linkoverflow {
	overflow: hidden;
}

/* Mobile Views */
 @media screen and (max-width: 768px) {
#pagewrapper {
	width: 86%;
}

#guidetitle {
	font-size: 180%;
}

.where, .tips {
	width: auto;
}

.imagepaddings img {
	width: 70%;
	height: auto;
}

img, img.smaller {
	width: auto;
	max-width: 100%;
	height: auto;
}

 }